/node_modules/.package-lock.json
/.idea/dataSources/248caef1-3591-4044-87d1-6fa66309f978.xml
/node_modules/prisma/build/public/assets/alert.60ea9f84.svg
/frontend/src/App.css
/node_modules/prisma/build/public/assets/array.1a36c222.svg
/node_modules/@prisma/get-platform/dist/assertNodeAPISupported.d.ts
/node_modules/@prisma/get-platform/dist/assertNodeAPISupported.js
/node_modules/prisma/prisma-client/runtime/binary.d.ts
/node_modules/prisma/prisma-client/runtime/binary.js
/node_modules/@prisma/get-platform/dist/test-utils/binaryTargetRegex.d.ts
/node_modules/@prisma/get-platform/dist/test-utils/binaryTargetRegex.js
/node_modules/@prisma/get-platform/dist/binaryTargets.d.ts
/node_modules/@prisma/get-platform/dist/binaryTargets.js
/node_modules/@prisma/fetch-engine/dist/BinaryType.d.ts
/node_modules/@prisma/fetch-engine/dist/BinaryType.js
/node_modules/prisma/build/public/assets/boolean.9188b434.svg
/node_modules/dotenv/CHANGELOG.md
/node_modules/prisma/build/public/assets/chevron-down.24f76e3c.svg
/node_modules/prisma/build/child.js
/node_modules/@prisma/fetch-engine/dist/chmodPlusX.d.ts
/node_modules/@prisma/fetch-engine/dist/chmodPlusX.js
/node_modules/@prisma/get-platform/dist/chunk-2ESYSVXG.js
/node_modules/@prisma/get-platform/dist/chunk-2U36ISZO.js
/node_modules/@prisma/fetch-engine/dist/chunk-4LX3XBNY.js
/node_modules/@prisma/fetch-engine/dist/chunk-5T2KHPZI.js
/node_modules/@prisma/get-platform/dist/chunk-6HZWON4S.js
/node_modules/@prisma/fetch-engine/dist/chunk-7LKYSON6.js
/node_modules/@prisma/get-platform/dist/chunk-7MLUNQIZ.js
/node_modules/@prisma/fetch-engine/dist/chunk-AH6QHEOA.js
/node_modules/@prisma/fetch-engine/dist/chunk-B7Q6Z2SD.js
/node_modules/@prisma/get-platform/dist/chunk-B23KD6U3.js
/node_modules/@prisma/fetch-engine/dist/chunk-CWGQAQ3T.js
/node_modules/@prisma/get-platform/dist/chunk-D7S5FGQN.js
/node_modules/@prisma/get-platform/dist/chunk-FWMN4WME.js
/node_modules/@prisma/fetch-engine/dist/chunk-IXSVF3PW.js
/node_modules/@prisma/fetch-engine/dist/chunk-KDPLGCY6.js
/node_modules/@prisma/get-platform/dist/chunk-M5NKJZ76.js
/node_modules/@prisma/fetch-engine/dist/chunk-MX3HXAU2.js
/node_modules/@prisma/get-platform/dist/chunk-O5EOXX3N.js
/node_modules/@prisma/fetch-engine/dist/chunk-PXQVM7NP.js
/node_modules/@prisma/fetch-engine/dist/chunk-RGVHWUUH.js
/node_modules/@prisma/fetch-engine/dist/chunk-RIFXCDQ6.js
/node_modules/@prisma/fetch-engine/dist/chunk-VTJS2JJN.js
/node_modules/@prisma/fetch-engine/dist/chunk-X37PZICB.js
/node_modules/@prisma/get-platform/dist/chunk-YDM7ULQH.js
/node_modules/@prisma/get-platform/dist/chunk-YVXCXD3A.js
/node_modules/@prisma/fetch-engine/dist/cleanupCache.d.ts
/node_modules/@prisma/fetch-engine/dist/cleanupCache.js
/node_modules/dotenv/lib/cli-options.js
/node_modules/prisma/prisma-client/scripts/colors.js
/node_modules/dotenv/config.d.ts
/node_modules/dotenv/config.js
/node_modules/universal-cookie/cjs/Cookies.d.ts
/node_modules/universal-cookie/esm/Cookies.d.ts
/node_modules/universal-cookie/umd/Cookies.d.ts
/node_modules/prisma/build/public/assets/cross.c2610cf5.svg
/node_modules/prisma/build/public/pages/http/databrowser.html
/node_modules/prisma/build/public/http/databrowser.js
/node_modules/prisma/build/public/assets/datetime.a3bf710a.svg
/node_modules/prisma/prisma-client/default.d.ts
/node_modules/prisma/prisma-client/default.js
/node_modules/prisma/prisma-client/scripts/default-deno-edge.ts
/node_modules/prisma/prisma-client/scripts/default-index.d.ts
/node_modules/prisma/prisma-client/scripts/default-index.js
/backend/prisma/dev.db
/node_modules/prisma/build/public/assets/download.8d34b65a.svg
/node_modules/@prisma/fetch-engine/dist/download.d.ts
/node_modules/@prisma/fetch-engine/dist/download.js
/node_modules/@prisma/fetch-engine/dist/downloadZip.d.ts
/node_modules/@prisma/fetch-engine/dist/downloadZip.js
/node_modules/prisma/prisma-client/edge.d.ts
/node_modules/prisma/prisma-client/runtime/edge.js
/node_modules/prisma/prisma-client/edge.js
/node_modules/prisma/prisma-client/runtime/edge-esm.js
/node_modules/prisma/build/public/assets/ellipsis.a8c5a34a.svg
/node_modules/prisma/build/public/assets/enum.7ec0b64c.svg
/node_modules/@prisma/fetch-engine/dist/env.d.ts
/node_modules/@prisma/fetch-engine/dist/env.js
/node_modules/dotenv/lib/env-options.js
/node_modules/prisma/prisma-client/extension.d.ts
/node_modules/prisma/prisma-client/extension.js
/node_modules/prisma/build/public/favicon.svg
/node_modules/prisma/build/public/assets/folder.d77b8eaf.svg
/node_modules/@prisma/fetch-engine/dist/getHash.d.ts
/node_modules/@prisma/fetch-engine/dist/getHash.js
/node_modules/@prisma/get-platform/dist/getNodeAPIName.d.ts
/node_modules/@prisma/get-platform/dist/getNodeAPIName.js
/node_modules/@prisma/get-platform/dist/getPlatform.d.ts
/node_modules/@prisma/get-platform/dist/getPlatform.js
/node_modules/@prisma/fetch-engine/dist/getProxyAgent.d.ts
/node_modules/@prisma/fetch-engine/dist/getProxyAgent.js
/node_modules/prisma/build/public/assets/hamburger.5fdadeac.svg
/node_modules/prisma/build/public/icon-1024.png
/node_modules/prisma/build/public/index.css
/node_modules/@prisma/debug/dist/index.d.ts
/node_modules/@prisma/engines/dist/index.d.ts
/node_modules/@prisma/engines-version/index.d.ts
/node_modules/@prisma/fetch-engine/dist/index.d.ts
/node_modules/@prisma/get-platform/dist/test-utils/index.d.ts
/node_modules/@prisma/get-platform/dist/index.d.ts
/node_modules/@types/cookie/index.d.ts
/node_modules/prisma/prisma-client/index.d.ts
/node_modules/universal-cookie/cjs/index.d.ts
/node_modules/universal-cookie/esm/index.d.ts
/node_modules/universal-cookie/umd/index.d.ts
/node_modules/@prisma/debug/dist/index.js
/node_modules/@prisma/engines/dist/index.js
/node_modules/@prisma/engines-version/index.js
/node_modules/@prisma/fetch-engine/dist/index.js
/node_modules/@prisma/get-platform/dist/test-utils/index.js
/node_modules/@prisma/get-platform/dist/index.js
/node_modules/cookie/index.js
/node_modules/prisma/build/public/assets/index.js
/node_modules/prisma/build/index.js
/node_modules/prisma/preinstall/index.js
/node_modules/prisma/prisma-client/generator-build/index.js
/node_modules/prisma/prisma-client/index.js
/node_modules/universal-cookie/cjs/index.js
/node_modules/universal-cookie/esm/index.mjs
/node_modules/prisma/prisma-client/runtime/index-browser.d.ts
/node_modules/prisma/prisma-client/runtime/index-browser.js
/node_modules/prisma/prisma-client/index-browser.js
/node_modules/prisma/build/public/assets/inter-all-400-normal.4c1f8a0d.woff
/node_modules/prisma/build/public/assets/inter-all-600-normal.d0a7c8a9.woff
/node_modules/prisma/build/public/assets/inter-cyrillic-400-normal.ac97a49e.woff2
/node_modules/prisma/build/public/assets/inter-cyrillic-600-normal.2c917f10.woff2
/node_modules/prisma/build/public/assets/inter-cyrillic-ext-400-normal.f21a6a97.woff2
/node_modules/prisma/build/public/assets/inter-cyrillic-ext-600-normal.bb31f197.woff2
/node_modules/prisma/build/public/assets/inter-greek-400-normal.e9163df8.woff2
/node_modules/prisma/build/public/assets/inter-greek-600-normal.e644d70f.woff2
/node_modules/prisma/build/public/assets/inter-greek-ext-400-normal.43addcc8.woff2
/node_modules/prisma/build/public/assets/inter-greek-ext-600-normal.7f437016.woff2
/node_modules/prisma/build/public/assets/inter-latin-400-normal.27ae72da.woff2
/node_modules/prisma/build/public/assets/inter-latin-600-normal.87d718a2.woff2
/node_modules/prisma/build/public/assets/inter-latin-ext-400-normal.5b02c69a.woff2
/node_modules/prisma/build/public/assets/inter-latin-ext-600-normal.88feb9e4.woff2
/node_modules/prisma/build/public/assets/inter-vietnamese-600-normal.8185dacd.woff2
/node_modules/@prisma/get-platform/dist/test-utils/jestContext.d.ts
/node_modules/@prisma/get-platform/dist/test-utils/jestContext.js
/node_modules/@prisma/get-platform/dist/test-utils/jestSnapshotSerializer.js
/node_modules/prisma/build/public/assets/jetbrains-mono-all-400-normal.f86807b7.woff
/node_modules/prisma/build/public/assets/jetbrains-mono-cyrillic-400-normal.1ae57fe2.woff2
/node_modules/prisma/build/public/assets/jetbrains-mono-latin-400-normal.80a5dc9e.woff2
/node_modules/prisma/build/public/assets/jetbrains-mono-latin-ext-400-normal.6315c53c.woff2
/node_modules/@prisma/engines/node_modules/.cache/prisma/master/bf0e5e8a04cada8225617067eaa03d041e2bba36/windows/libquery-engine
/node_modules/@prisma/engines/node_modules/.cache/prisma/master/bf0e5e8a04cada8225617067eaa03d041e2bba36/windows/libquery-engine.gz.sha256
/node_modules/@prisma/engines/node_modules/.cache/prisma/master/bf0e5e8a04cada8225617067eaa03d041e2bba36/windows/libquery-engine.sha256
/node_modules/prisma/prisma-client/runtime/library.d.ts
/node_modules/prisma/prisma-client/runtime/library.js
/node_modules/@prisma/debug/LICENSE
/node_modules/@prisma/engines/LICENSE
/node_modules/@prisma/engines-version/LICENSE
/node_modules/@prisma/fetch-engine/LICENSE
/node_modules/@prisma/get-platform/LICENSE
/node_modules/@types/cookie/LICENSE
/node_modules/cookie/LICENSE
/node_modules/dotenv/LICENSE
/node_modules/prisma/LICENSE
/node_modules/universal-cookie/LICENSE
/node_modules/@prisma/get-platform/dist/link.d.ts
/node_modules/@prisma/get-platform/dist/link.js
/node_modules/@prisma/engines/dist/scripts/localinstall.d.ts
/node_modules/@prisma/engines/dist/scripts/localinstall.js
/node_modules/@prisma/fetch-engine/dist/log.d.ts
/node_modules/@prisma/fetch-engine/dist/log.js
/node_modules/@prisma/get-platform/dist/logger.d.ts
/node_modules/@prisma/get-platform/dist/logger.js
/node_modules/prisma/build/public/assets/logotype.a960b169.svg
/node_modules/dotenv/lib/main.d.ts
/node_modules/dotenv/lib/main.js
/.idea/dataSources/248caef1-3591-4044-87d1-6fa66309f978/storage_v2/_src_/schema/main.uQUzAA.meta
/backend/prisma/migrations/20241108215836_add_images/migration.sql
/backend/prisma/migrations/20241109214451_add_image/migration.sql
/backend/prisma/migrations/20241110003513_add_imaged/migration.sql
/backend/prisma/migrations/20241118160052_add_imaged/migration.sql
/node_modules/@prisma/fetch-engine/dist/multipart-parser-47FFAP42.js
/node_modules/prisma/build/public/assets/number.85ddf96b.svg
/node_modules/prisma/build/public/assets/object.0ba944a6.svg
/node_modules/@prisma/debug/package.json
/node_modules/@prisma/engines/package.json
/node_modules/@prisma/engines-version/package.json
/node_modules/@prisma/fetch-engine/package.json
/node_modules/@prisma/get-platform/package.json
/node_modules/@types/cookie/package.json
/node_modules/cookie/package.json
/node_modules/dotenv/package.json
/node_modules/prisma/prisma-client/package.json
/node_modules/prisma/package.json
/node_modules/universal-cookie/package.json
/node_modules/prisma/build/public/assets/play.8811691e.svg
/node_modules/prisma/build/public/assets/plus.8fbf7ad3.svg
/node_modules/@prisma/engines/dist/scripts/postinstall.d.ts
/node_modules/prisma/prisma-client/scripts/postinstall.d.ts
/node_modules/@prisma/engines/dist/scripts/postinstall.js
/node_modules/@prisma/engines/scripts/postinstall.js
/node_modules/prisma/prisma-client/scripts/postinstall.js
/node_modules/prisma/scripts/preinstall-entry.js
/node_modules/.bin/prisma
/node_modules/.bin/prisma.cmd
/node_modules/.bin/prisma.ps1
/node_modules/prisma/build/prisma_schema_build_bg.wasm
/node_modules/@prisma/engines/query_engine-windows.dll.node
/node_modules/prisma/prisma-client/runtime/query_engine_bg.mysql.js
/node_modules/prisma/prisma-client/runtime/query_engine_bg.postgresql.js
/node_modules/prisma/prisma-client/runtime/query_engine_bg.sqlite.js
/node_modules/prisma/prisma-client/runtime/react-native.d.ts
/node_modules/prisma/prisma-client/react-native.d.ts
/node_modules/prisma/prisma-client/runtime/react-native.js
/node_modules/prisma/prisma-client/react-native.js
/node_modules/@prisma/debug/README.md
/node_modules/@prisma/engines/README.md
/node_modules/@prisma/engines-version/README.md
/node_modules/@prisma/fetch-engine/README.md
/node_modules/@prisma/get-platform/README.md
/node_modules/@types/cookie/README.md
/node_modules/cookie/README.md
/node_modules/dotenv/README.md
/node_modules/prisma/prisma-client/README.md
/node_modules/prisma/README.md
/node_modules/universal-cookie/README.md
/node_modules/dotenv/README-es.md
/node_modules/prisma/build/public/assets/refresh.d5448ccc.svg
/node_modules/@prisma/engines/node_modules/.cache/prisma/master/bf0e5e8a04cada8225617067eaa03d041e2bba36/windows/schema-engine
/node_modules/@prisma/engines/node_modules/.cache/prisma/master/bf0e5e8a04cada8225617067eaa03d041e2bba36/windows/schema-engine.gz.sha256
/node_modules/@prisma/engines/node_modules/.cache/prisma/master/bf0e5e8a04cada8225617067eaa03d041e2bba36/windows/schema-engine.sha256
/node_modules/@prisma/engines/schema-engine-windows.exe
/node_modules/prisma/build/public/assets/search.2ed766ce.svg
/node_modules/cookie/SECURITY.md
/node_modules/prisma/build/public/assets/settings.5ad25af2.svg
/.idea/shelf/Uncommitted_changes_before_Update_at_15_01_2025_13_14_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_15_01_2025_13_17_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_15_01_2025_13_21_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_15_01_2025_13_24_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_15_01_2025_13_26_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_15_01_2025_13_30_[Changes]/shelved.patch
/node_modules/prisma/build/public/pages/http/splash.html
/node_modules/prisma/build/public/http/splash.js
/node_modules/prisma/prisma-client/sql.d.ts
/node_modules/prisma/prisma-client/sql.js
/node_modules/prisma/prisma-client/sql.mjs
/node_modules/prisma/build/public/assets/string.ea615a24.svg
/node_modules/prisma/build/public/assets/tick.8cbb6a93.svg
/node_modules/prisma/build/public/assets/tick-indeterminate.aec8a44d.svg
/frontend/tsconfig.app.tsbuildinfo
/frontend/tsconfig.node.tsbuildinfo
/node_modules/universal-cookie/cjs/types.d.ts
/node_modules/universal-cookie/esm/types.d.ts
/node_modules/universal-cookie/umd/types.d.ts
/.idea/shelf/Uncommitted_changes_before_Update_at_15_01_2025_13_14__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_15_01_2025_13_17__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_15_01_2025_13_21__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_15_01_2025_13_24__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_15_01_2025_13_26__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_15_01_2025_13_30__Changes_.xml
/node_modules/universal-cookie/umd/universalCookie.js
/node_modules/universal-cookie/umd/universalCookie.min.js
/node_modules/@prisma/debug/dist/util.d.ts
/node_modules/@prisma/debug/dist/util.js
/node_modules/@prisma/fetch-engine/dist/utils.d.ts
/node_modules/universal-cookie/cjs/utils.d.ts
/node_modules/universal-cookie/esm/utils.d.ts
/node_modules/universal-cookie/umd/utils.d.ts
/node_modules/@prisma/fetch-engine/dist/utils.js
/node_modules/prisma/build/public/assets/vendor.js
/node_modules/prisma/build/xdg-open
